<!DOCTYPE html>
<html>
<head>
  <title>short_links</title>
</head>
<body>
  <h1>Введите полный адрес ссылки, которую вы хотите сократить</h1>
  <h2>Если нужно имя конкретной ссылки, то введите его, или оно сформируется автоматически</h2>
    <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="Submit" name="submit" value="Жми сюда"/>
    </form>

    {% if submitbutton == "Жми сюда" %}
    <h1>Ваша короткая ссылка http://127.0.0.1:8000/{{ short_link }}</h1>
    {% endif %}

</body>
